<%# views/profile.ejs %>

  <% extend('layout') %>
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-body">
          <h1 class="m-t-0 m-b-30">You have successfully Logged In!</h1>
        </div>
      </div>
    </div>