html
  head
    title Project - Node.js Project
    link(rel='shortcut icon', href='/images/favicon.ico')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/icons.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
  body
    // Begin page
    .accountbg
    .wrapper-page
      .panel.panel-color.panel-primary.panel-pages
        .panel-body
          h3.text-center.m-t-0.m-b-15
            a.logo.logo-admin(href='/')
              img(src='/images/logo_dark.png', height='28', alt='logo')
          h4.text-muted.text-center.m-t-0
            b Sign Up
          form.form-horizontal.m-t-20(method='post', action='/users/register')
            .form-group
              .col-xs-12
                input.form-control(name='fname', type='text', required='', placeholder='First Name')
            .form-group
              .col-xs-12
                input.form-control(name='lname', type='text', required='', placeholder='Last Name')
            .form-group
              .col-xs-12
                input.form-control(name='email', type='email', required='', placeholder='Email')
            .form-group
              .col-xs-12
                input.form-control(name='password', type='password', required='', placeholder='Password')
            .form-group.text-center.m-t-40
              .col-xs-12
                button.btn.btn-primary.btn-block.btn-lg.waves-effect.waves-light(type='submit', name='submit', value='Register') Register
            .form-group.m-t-30.m-b-0
              .col-sm-12.text-center
                a.text-muted(href='/') Already have account?
    // jQuery
    //script(src='/js/jquery.min.js')
    //script(src='/js/bootstrap.min.js')
    //script(src='/js/modernizr.min.js')
    //script(src='/js/detect.js')
    //script(src='/js/fastclick.js')
    //script(src='/js/jquery.slimscroll.js')
    //script(src='/js/jquery.blockUI.js')
    //script(src='/js/waves.js')
    //script(src='/js/wow.min.js')
    //script(src='/js/jquery.nicescroll.js')
    //script(src='/js/jquery.scrollTo.min.js')
    //script(src='/js/app.js')
